* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  color: #333;
  background-color: #ecedee;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #c5c6c8;
  z-index: 1000;
}

.logo-type {
  font-size: 2.3rem;
  font-weight: 900;
  padding: 1.6rem 4.8rem;
}

.logo-type::before {
  content: "IBRA";
  color: #0983ee;
}

.navigation-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.list-link a:link,
.list-link a:visited {
  font-size: 1.4rem;
  text-decoration: none;
  color: #333;
  text-transform: capitalize;
  font-weight: 600;
}

.list-link a:hover,
.list-link a:active {
  border-bottom: solid 3px #0983ee;
}

.btn-link a:link,
.btn-link a:visited {
  font-size: 1.4rem;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  background-color: #0983ee;
  border-radius: 5px;
  padding: 0.8rem 1.4rem;
}
/**************section hero*****************/
.hero-section {
  padding: 4.8rem 9.6rem;
  margin-top: 4rem;
}

.secton-hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 18rem;
  align-items: center;
}

.my-photo {
  width: 75%;
}
.stape2{
  position: relative;
}
.stape2::before{
  content: "";
  display: block;
  width: 90%;
  background-color: #0983ee6f;
  position: absolute;
  z-index: -1;
  margin-top: 8rem;
  padding-bottom: 80%;
  border-radius: 30% 70% 70% 30% / 30% 70% 70% 60% ;
}

.my-introduce {
  font-size: 3rem;
}

.headding-primary {
  font-size: 5.4rem;
  font-weight: 800;
  color: #0983ee;
  text-transform: capitalize;
}

.description {
  font-size: 1.8rem;
  line-height: 1.4em;
  margin-bottom: 2.4rem;
}

.ocials-medias {
  display: flex;
  justify-content: center;
  align-items: center;
}

.medias {
  font-size: 2.8rem;
  color: #0983ee;
  margin-bottom: 3rem;
  margin-right: 1rem;
}
.btn {
  text-decoration: none;
  font-size: 1.6rem;
  background-color: #0983ee;
  align-items: center;
  color: #fff;
  padding: 1.2rem;
  border-radius: 5px;
}

span {
  font-size: 2rem;
  margin-top: 20px;
}

/**********************SECTION ABOUT********************************/
.about-section {
  padding: 4rem 9.6rem;
}
.about {
  display: flex;
  justify-content: space-around;
  gap: 12rem;
  align-items: center;
}

.headding-secondary {
  font-size: 4rem;
}

.headding-secondary::after {
  content: " Me";
  color: #0983ee;
}

.profil {
  font-size: 1.8rem;
  font-weight: 900;
}
.profil::before {
  content: "|";
  font-size: 3rem;
  color: #0983ee;
}

.description {
  font-size: 1.6rem;
  line-height: 1.5em;
  word-spacing: 1.75px;
}

.stape-2 {
  margin-right: 12rem;
}

/***************section services***************************/
.service-section{
  padding: 4rem 9.6rem;
}

.service{
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2.4rem;
}

.service-boxes{
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.boxe{
  box-shadow: inset 1px 1px 1px 4px #d5d6d7;
  width: 25rem;
  background-color: #FFF;
  text-align: center;
  padding: 2rem;
  border-radius: 9px;
  
}

.service-description{
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 2rem 0;

}
.icones{
  font-size: 5rem;
  color: #0983ee;
}

.learn-more{
  text-decoration: none;
  font-weight: 800;
  padding: 5px;
  background-color: #0983ee;
  border-radius: 5px;
  color: #FFF;
}


/***********************section projects****************/
.project-section{
  padding: 4.8rem 9.6rem;
  background-color: #FFF;
}

.projects{
  font-size: 4rem;
  text-align: center;
  margin-bottom: 4.4rem;
}
.projects::after{
  content: " Projects";
  color: #0983ee;
  font-size: 4rem;
}
.project-image{
  width: 80%;
  height: auto;
  border-radius: 6px;
  }

  .last-projects{
    background-color: #0983ee58;
    padding: 2rem;
  }

  .project-boxes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3rem;
  }